[Desktop Entry]
Name=QuadCast 2 Control
Exec=AppRun
Icon=mic
Type=Application
Categories=Utility;
Comment=Control your HyperX QuadCast 2 LED and effects
